
.header {
  
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.notifications {
  position: relative;
  display: flex;
  align-items: center;
}

.bell-icon {
  font-size: 24px;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
/* Tela de Reunião */


/* Tela de Agenda */
.topo{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 20px;
}
.topo h1{
font-size: 20px;
}
.topo select{
font-size: 20px;
border: 1px solid black;
cursor: pointer; 
padding: 5px;
border-radius: 10px;
}
.topo select:hover{
background-color: #ccc;
}

.header {
background-color: #82aae5;

}
