.containner-chamados {
    background-color: #edebeb;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    max-height: 94vh;
    margin: 50px 50px 0 50px;
}

.div-chamados {
    overflow-y: auto;
}

.containner-chamados::-webkit-scrollbar {
    width: 8px;
}

.containner-chamados::-webkit-scrollbar-track {
    background: #f2f0f0;
    border-radius: 10px;
}

.red-dot {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.green-dot {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
}

.yellow-dot{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
}

.btn-concluir-chamado {
    background-color: #3285fa;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

