.side-menu-component__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
  background-color: #1976d2;
  color: #fff;
  transition: 0.3s;
}

.side-menu-component__container--expanded {
  width: 16rem;
}

.side-menu-component__container--expanded-mobile {
  width: 100%;
  justify-content: center;
}

.side-menu-component__container--collapsed {
  width: 5rem;
}

.side-menu__divider {
  width: 100%;
  height: 1px;
  border: 0;
  margin: 2.0rem 0 2.4rem 0;
  border-top: 1px solid
}

.container-buttons-mobile {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.side-menu__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.containner-btns-route {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}

.btn-route {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-route {
  margin-left: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}
