.gerencia-usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 45px;
}

.gerencia-alunos-funcionarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gerencia-text {    
    font-weight: 600;
}

.container-alunos-funcionarios {
    display: flex;
    justify-content: center;
    gap: 100px;
}